body {
    font-family: Arial, sans-serif;
    background: #d4dae0;
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
    margin: 20px 0;
}

.container {
    display: flex;
    gap: 30px;
    padding: 20px;
}

.left, .right {
    background: rgb(186, 174, 219);
    padding: 20px;
    border-radius: 12px;
    width: 50%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.image-box img {
    width: 100%;
    border-radius: 10px;
    border: 2px solid #ddd;
}

.box {
    padding: 12px;
    background: #eeeeee;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 18px;
}

.current {
    background: #fff3cd;
    border: 2px dashed #ff9800;
    text-align: center;
    font-size: 24px;
}

.highlight {
    background: #d4edda;
    font-weight: bold;
}

button {
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
}

button:hover {
    background: #0056b3;
}
